<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
      <link rel="stylesheet" href="/css/index.css" />

      <section>
        <h1>Welcome to Helply</h1>

        <% if (data.length> 0) { %>
          <div class="cards-container">
            <% data.forEach(item=> { %>
              <a href="/view/<%= item._id %>" class="card">
                <h2>
                  <%= item.title %>
                </h2>
                <p>
                  <%= item.author %>
                </p>
                <p class="Timestamp"><%= item.timestamp %></p>
              </a>
              <% }) %>
          </div>
          <% } else { %>
            <p>No data available</p>
            <% } %>
      </section>

      <%- include('partials/footer') %>
  </body>

</html>