<%- include('partials/head') %> <%- include('partials/nav') %>
<body>
  <link rel="stylesheet" href="/css/view.css">
  <section>
                <h1>User's Post</h1>
                <% if (data.length> 0) { %>
                    <div class="users-posts">
                        <div class="users-questions">
                            <div>
                                <h2>
                                    <%= item.title %>
                                </h2>
                                <p class="Timestamp">
                                  <%= item.timestamp %>
                                </p>
                            </div>

                            <p>
                              <%= item.author %>
                            </p>

                        </div>
                    </div>
                    <% } else { %>
                        <p>No questions available</p>
                        <% } %>
            </section>
  </div>
</body>
<%- include('partials/footer') %>