<%- include('partials/head') %> <%- include('partials/nav') %>

        <body>
            <link rel="stylesheet" href="/css/view.css">
            <section>
                <h1>View Posts</h1>
                <div class="posts-container">
                    <% if (post) { %>
                        <div class="post-card">
                            <h2>
                                <%= post.title %>
                            </h2>
                            <p>Author: <%= post.author %>
                            </p>
                            <p>
                                <%= post.content %>
                            </p>
                        </div>
                        <% } else { %>
                            <p>Post not found.</p>
                            <% } %>
                            <form action="">
                                <label for="comment">Comment:</label>
                                <input type="text" name="comment" id="comment" placeholder="Add a comment...">
                                <button type="submit">Submit</button>
                            </form>
                        
                    <% if (comments) { %>
                        <div class="comments-section">
                            <h3>Comments</h3>
                            <% comments.forEach(comment => { %>
                                <div class="comment-card">
                                    <p><strong><%= comment.author %>:</strong> <%= comment.text %></p>
                                </div>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <p>No comments yet.</p>
                    <% } %>
                        
                </div>


            </section>
        </body>
        <%- include('partials/footer') %>